.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 700px;
    /*min-inline-size: fit-content;*/
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.cart_content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}
.cart_img{
    width:120px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
    -webkit-line-clamp: 3;
    /*display: -webkit-box;*/
    /*display: box;*/
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-sizing: content-box;
    border: none;
}
.cart_img, img{
    border-radius: 5px;
}
.cart_text{
    max-width: 318px;
    min-width: 318px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    /*-webkit-line-clamp: 5;*/
    display: -webkit-box;
    /*display: box;*/
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    font-size: small;
    box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.2);
}


.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
    display: block;
    width: 40em;
    overflow: auto;
    height: 40em;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
    border-radius: 2px;
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
}