td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
    /*background-color: lightgray;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

th {
    width: 200px;
    background-color: darkgray;
    text-align: center;
    border: 1px;
    border-radius: 5px;
}

.td_img {
    width:300px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    /*display: box;*/
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-sizing: content-box;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.td_text {
    max-width: 318px;
    min-width: 318px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    /*-webkit-line-clamp: 5;*/
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    font-size: small;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content
{

    /*height: 150px;*/
    text-align: center;
}


/* Flexbox Styles */
.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;

}
.upduwn{
    margin: 0;
    font-family: cursive;
    font-size: initial;
    line-height: inherit;
    height: 35px;
    width: 40px;
}

